{% extends 'python_profil.html'%}

{%block python_profil%}
<section class="content">
    
    <div class="container"> </div>

        <BLOCKQUOTE> 
            <div class="col-sm-6">
                <h2 class="section-header">Python Django project</h2>
                <p class="lead text-muted"> <FONT color="black">The site you are currently visiting is my professional site, and I developed it with Django (python) from scratch. Skills used: <br>
                    * python virtual environment <br>
                    * Django's MVT (Models Views Templates) architecture. <br>
                    *Backend (python) <br>
                    *Frontend (HTML, CSS, JS)</FONT> </p>
                <a href="https://github.com/ROUMNA/DJANGO" class="btn btn-primary btn-lg">CHEEK</a>
            </div>                
        </BLOCKQUOTE>
        
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <h2 class="section-header">Python Deployment with STREAMLIT</h2>
                <p class="lead text-muted"><FONT color="green">This project aims to deploy an artificial intelligence model for fraud detection on electricity and gas meters.  
                    I used STREAMLIT (python) to do this project.</FONT></p>
                    <a href="https://github.com/ROUMNA/STREAMLIT-APPS" class="btn btn-primary btn-lg">CHEEK</a>
            </div>                
            
        </div>
    </div>
</section>

<section class="content">
    <div class="container"></div>
        <BLOCKQUOTE> 
            <div class="col-sm-6">
                <h2 class="section-header">Python Web Scraping</h2>
                <p class="lead text-muted"><FONT color="white">This project allows you to retrieve preferred content (articles, titles, subtitles, texts etc..) from websites using Python. 
                    skills used : <br>
                    *Python <br>
                    *BeautifulSoup (bs4) <br>
                    *Python REQUEST module </FONT></p>
                   <a href="https://github.com/ROUMNA/WEB_SCRAPING" class="btn btn-primary btn-lg">CHEEK</a>
            </div>                
        </BLOCKQUOTE>
        
    </div>
</section> 


<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <h2 class="section-header">Python SQL DB</h2>
                <p class="lead text-muted">A small demonstration on the use of a SQL database with PYTHON.</p>
                    <a href="https://github.com/ROUMNA/SQL" class="btn btn-primary btn-lg">CHEEK</a>
            </div>                
            
        </div>
    </div>
</section>
{%endblock%}